/* -----------------------------------------------------------------------------
   Keint Construcciones - Administraci贸n
--------------------------------------------------------------------------------
   Descripci贸n: Proyecto del Curso Programaci贸n Avanzada.
   Autor: Grupo Programaci贸n Avanzada
------------------------------------------------------------------------------*/

// Compass
@import 'compass';

// Componentes

@import "partials/variables";
@import "partials/admin/variables";
@import "partials/mixins";

/* -----------------------------------------------------------------------------
   Fonts
------------------------------------------------------------------------------ */
@import "partials/fonts";

/* -----------------------------------------------------------------------------
   General
------------------------------------------------------------------------------ */
@import "partials/admin/general";


/* -----------------------------------------------------------------------------
   Header
------------------------------------------------------------------------------ */
@import "partials/admin/header";


/* -----------------------------------------------------------------------------
   Sidebar
------------------------------------------------------------------------------ */
@import "partials/admin/sidebar";


/* -----------------------------------------------------------------------------
   Content
------------------------------------------------------------------------------ */
@import "partials/admin/content";


