// ------------------------------------------------------------------------------------
// Navigation
// ------------------------------------------------------------------------------------


$resposive-bg-color: lighten($color-dark, 4%);

#main-nav {
	margin-top: 5px;
	ul {
  	float: right;
  }
	@include breakpoint(0, $tablet){
		margin-top: 0px;
    background: $resposive-bg-color !important;
    &:before {
			padding-left: 1.7em !important;
			color: white !important;
    }
    ul {
	  	float: none;
	  }
  }

}

#main-menu {
	> li {
		margin-right: 8px;
		> a {
			padding: 0.5em 1em;
			color: white;
			font-size: 1.1em;
			text-transform: uppercase;
			background: none;
			border: 1px solid $color-dark;
			@include transition(all 0.6s ease);
			font-family: Roboto, arial, sans-serif;
		}
		&.item-activo,
		&:hover {
			> a {
				border: 1px solid $color-yellow;
			}
		}
	}
}

@include breakpoint(0, $tablet){
	#main-menu {
		background: none;
		border-bottom: 1px solid $color-dark;
		li {
			a {
				padding: 0.7em 1.5em;
				background: none;
				border-bottom: 1px solid lighten($resposive-bg-color, 5%);
			}
			&.item-activo:before {
				position: absolute; top: 0px; left: 0px;
				content: '';
				width: 4px;
				height: 100%;
				background: $color-yellow;
			}
			&.item-activo,
			&:hover {
				a {
					border: 1px solid $color-dark;
					border-bottom: 1px solid lighten($resposive-bg-color, 5%);
					color: $color-yellow;

			  }
			}
		}
	}
}

.boton-menu-movil {
	top: 20px;
	&:before {
		color: $color-yellow;
	}
	@include opacity(1);

	&:hover:before {
		color: $color-yellow;
		@include opacity(0.8);
	}
}
body.nav-open {
	@include breakpoint(0, $tablet){
		.boton-menu-movil  {
			top: 4px;
		}
	}
}
