// -----------------------------------------------------------------------------
// Proyectos
// -----------------------------------------------------------------------------
#proyectos h3{
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 6px;
    position: relative;
}

#proyectos h3::before{
    background: $color-yellow;
    bottom: -4px;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 50px;
}

@media screen and (max-width: 600px) {
    #proyectos img{
        margin-bottom: 10px;
    }
}