// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$base-text-color: #4B5054;
$base-background: white;
$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-weight: normal;
$base-font-size: 14px;
$base-line-height: 1.5;
$base-border-color: #D0D0D0;
$base-focus-color: #4B9CE6;
$color-dark: #1C1E20;
$color-yellow: #fece1a;

$grid-columns: 6;

$phone: 480px;
$tablet: 800px;