.page-content {
	padding: 20px;
}
ul.breadcrumb {
	margin: -20px -20px 20px -20px;
	padding: 10px 20px;
	border-bottom: 1px solid lighten($color-dark, 70%);
	list-style: none;
	> li {
		float: left;
		margin-right: 10px;
		> a {
			text-decoration: none;
			color: $base-text-color;
			&:hover {
				text-decoration: underline;
			}
		}
		i {
			padding-left: 5px;
		}
	}
}